[submodule "xrtc-third_party/NIM_Duilib_Framework"]
	path = xrtc-third_party/NIM_Duilib_Framework
	url = https://github.com/netease-im/NIM_Duilib_Framework.git
[submodule "xrtc-third_party/abseil-cpp"]
	path = xrtc-third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
